
html,
body {
  overflow-x: hidden;
}

body {
  background: $background;
  color: $main-color;
  font-family: $primary-font;
  font-size: $base-font-size;
  line-height: 1.6;
}

// Buttons
.btn-info {
  background: transparent;
  border: 1px solid $main-color;
  border-radius: 0;
  letter-spacing: 1px;
  padding: 7.5px 12.5px;
  margin: $margin * 4 0 $margin * 28;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    background: $main-color;
    border: 1px solid $main-color;
    color: $background;
  }
}
.advertise-btn,
.web-btn,
.graphic-btn {
  margin-top: $margin * 12;
  @media only screen and (min-width: 992px) {
    margin-top: 0;
  }
}

// Navigation 
.navbar {
  margin: 0;
  padding-bottom: $padding * 2;
}

.navbar-inverse {
  background: none;
  border: none;
  .navbar-collapse {
    border: none;
  }
}

.jumbotron {
  margin: 0;
  padding: $padding * 48 $padding * 5 $padding * 62;
  width: 100%;
  @media only screen and (min-width: 768px) {
    padding: $padding * 72 $padding * 5 $padding * 72;
  }
}

.jumbo-main {
  background: 
  linear-gradient($main-overlay), 
  linear-gradient($main-overlay),
  url("https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=dbea27138e4493b0472801ba3fa261ed");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// Customer Statement 
.cust-statement {
  background: 
    linear-gradient($main-overlay),
    linear-gradient($main-overlay),
    url("https://images.unsplash.com/photo-1421757295538-9c80958e75b0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3628f27cd5768ece147877e2dd792c6c");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

// Team 
.team-jumbo {
  background: 
    linear-gradient($main-overlay),
    linear-gradient($main-overlay),
    url("../images/group_work.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}


.cust-statement,
.description,
.team,
.advertise,
.web,
.graphics {
  padding: $padding * 24 0 $padding * 32;
}


// Main Content
.main-content {
  color: $main-color;
  padding: $padding * 24 5% 0;
  width: 100%;
}

.team {
  width: 100%;
}

.team-members {
  background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid $main-color;
    padding: 0 5%;
    margin: $margin * 2 0;
}

.first-member {
  @extend .team-members;
  background: 
    linear-gradient($main-overlay),
    linear-gradient($main-overlay),
    url("https://images.unsplash.com/photo-1457706924510-773f3c796de3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a577e1cee35179131ae189f5ed25ae15");
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      background: 
        linear-gradient( rgba(50,50,50,0.5), rgba(50,50,50,0.5)),
        url("https://images.unsplash.com/photo-1457706924510-773f3c796de3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a577e1cee35179131ae189f5ed25ae15");
        background-position: 30% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.second-member {
  @extend .team-members;
  background: 
    linear-gradient($main-overlay),
    linear-gradient($main-overlay),
    url("https://images.unsplash.com/photo-1458173127669-917921c1c662?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9e595c3afba4f01f9aacb74071fecaa2");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      background: 
        linear-gradient( rgba(50,50,50,0.5), rgba(50,50,50,0.5)),
        url("https://images.unsplash.com/photo-1458173127669-917921c1c662?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9e595c3afba4f01f9aacb74071fecaa2");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.third-member {
  background:
    linear-gradient($main-overlay),
    linear-gradient($main-overlay),
    url("https://images.unsplash.com/photo-1440606797942-6cc04c045447?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f883fd863bdc861863065261fd97f9d8");
    background-position: 20% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      background:        
      linear-gradient( rgba(50,50,50,0.5), rgba(50,50,50,0.5)),
      url("https://images.unsplash.com/photo-1440606797942-6cc04c045447?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f883fd863bdc861863065261fd97f9d8");
      background-position: 20% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
}

.fourth-member {
  background:
    linear-gradient($main-overlay),
    linear-gradient($main-overlay),
    url("https://images.unsplash.com/photo-1455274111113-575d080ce8cd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=35eb467310979535ffb5e93be6f164d5");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      background:
        linear-gradient( rgba(50,50,50,0.5), rgba(50,50,50,0.5)),
        url("https://images.unsplash.com/photo-1455274111113-575d080ce8cd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=35eb467310979535ffb5e93be6f164d5");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover
    }
  }
  
  // Contact Information 
.contact-icons {
  padding: 0 0 $padding * 24;
}

// Work Page
.jumbo-work {
  background: linear-gradient($main-overlay),
  url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5e2cbf8fc0f617f10d40fbf59797b524");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// Extra Picture section
.extra-picture {
  background: 
  linear-gradient($main-overlay),
  url("https://images.unsplash.com/1/bag-and-hands.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c7e4433b55700a7d33d63dd62f810b6f");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
}

.advertise,
.web,
.graphics{
  .row {
    margin-left: 0;
  }
   p {
     padding-top: 0;
   }
}

.work-portfolio {
  padding: $padding * 24 0;
}

.advertise,
.web,
.graphics {
  .col-xs-12,
  .col-md-4 {
    padding-left: 0;
  }
  .advertise-work,
  .web-work,
  .graphic-work {
    border-top: 10px solid rgba(255,255,255,0.5);
    padding-top: $padding * 12;
    padding-bottom: $padding * 12;
    @media only screen and (min-width: 992px) {
      margin-bottom: $margin * 18;
    }
    .glyphicon {
      font-size: $base-font-size * 5;
      padding-bottom: $padding * 12;
    }
    p {
      padding: 0 5%;
    }
  }
}

.advertise-work {
  background: rgb(156, 73, 110);
  &:nth-of-type(1) {
    background: rgb(96, 161, 167);
  }
  &:nth-last-of-type(2) {
    background: rgb(156, 113, 120);
  }
}

.web-work {
  background: rgb(51, 164, 155);
  &:nth-of-type(1) {
    background: rgb(198, 157, 50);
  }
  &:nth-last-of-type(2) {
    background: rgb(52, 155, 230);
  }
}

.graphic-work {
  background: rgb(227, 70, 104);
  &:nth-of-type(2) {
    background: rgb(116, 176, 185);
  }
  &:nth-last-of-type(3) {
    background: rgb(4, 117, 86);
  }
}

// Team page

.team-videos {
  margin-bottom: $margin * 24;
  @media only screen and (min-width: 768px) {
    margin-bottom: $margin * 38;
  }
}

.team-section {
  margin-top: $margin * 18;
  @media only screen and (min-width: 768px) {
    margin-top: $margin * 24;
  }
  .col-xs-12,
  .col-md-10 {
    padding: 0;
  }
  h3 {
    margin-bottom: $margin * 2;
  }
  span {
    display: inline-block;
    margin-bottom: $margin * 10;
  }
}

iframe {
  height: 300px;
  width: 640px;
  @media only screen and (min-width: 768px) {
    height: 360px;
  }
  @media only screen and (min-width: 992px) {
    height: 420px;
  }
}

//Modal 
.modal-open {
  padding-right: 0;
}

.modal-content {
  background: $main-color;
  input,
  textarea {
    border: 1px solid $background;
    color: $background;
  }
}

