
// Font
$primary-font: "Mallanna", "helvetica", "sans-serif";
$primary-header: 5.063em;
$secondary-header: 3.375em;
$third-header: 2.25em;
$fourth-header: 1.5em;
$base-font-size: 16px;

// Colors 
$background: rgba(13, 12, 12, 0.87);
$main-color: #e4e4e4;


// Overlay
$main-overlay: rgba(0,0,0,.4), rgba(0,0,0,.4);

// Margin & Padding 
$margin: 2px;
$padding: 2px;




